/* Importação de fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* Definição de variáveis de cores e fontes */
:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #B9F3FC; 
    --cor-hover: #6096B4;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* Reset de margens e preenchimentos */
*{
    margin: 0;
    padding: 0;
}

/* Estilo do corpo do documento */
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* Estilo do cabeçalho */
.cabecalho {
    padding: 2% 0% 0% 15%; /* Espaçamento interno */
}

/* Estilo da barra de navegação */
.cabecalho__menu {
    display: flex;
    gap: 80px; /* Espaçamento entre os links */
}

/* Estilo dos links no cabeçalho */
.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

/* Estilo do conteúdo principal */
.apresentacao {
    padding: 5% 15%; /* Espaçamento interno */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px; /* Espaçamento entre elementos */
}

/* Estilo do conteúdo da apresentação */
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px; /* Espaçamento entre os elementos */
}

/* Estilo do título da apresentação */
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    color: var(--cor-secundaria);
}

/* Estilo do destaque no título */
.titulo-destaque {
    color: var(--cor-terciaria);
}

/* Estilo do texto na apresentação */
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    color: var(--cor-secundaria);
}

/* Estilo dos links no texto */
.apresentacao__conteudo__texto a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

/* Estilo da seção de links */
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px; /* Espaçamento entre elementos */
}

/* Estilo do subtítulo da seção de links */
.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

/* Estilo dos links na seção de links */
.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px; /* Espaçamento entre elementos */
    border: 2px solid var(--cor-terciaria);
    width: 378px; /* Largura do link */
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; /* Espaçamento interno */
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

/* Efeito hover nos links */
.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

/* Estilo da imagem de apresentação */
.apresentacao__imagem {
    width: 50%;
}

/* Estilo do rodapé */
.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 6px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/* Media query para telas menores que 1200px */
@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}
